<section class="container narrow">
  <h1>Mapa do site</h1>
  <ul class="columns">
    <li><a href="/">Home</a></li>
    <li><a href="/Services">Serviços</a></li>
    <li><a href="/Products">Produtos</a></li>
    <li><a href="/Cases">Cases</a></li>
    <li><a href="/Testimonials">Depoimentos</a></li>
    <li><a href="/Company/About">Sobre</a></li>
    <li><a href="/Blog">Blog</a></li>
    <li><a href="/Company/Contact">Contato</a></li>
    <li><a href="/Company/Chat">Converse com nossa IA</a></li>
    <li><a href="/Legal/Privacy">Política de Privacidade</a></li>
    <li><a href="/Legal/Terms">Termos de Uso</a></li>
    <li><a href="/Home/Accessibility">Acessibilidade</a></li>
  </ul>
</section>